body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    background-image: url("../images/11.jpg");
    height: 100%;
    padding: 20px200px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.feedback {
    font-size: 18px;
    font-weight: 500;
}

.feedbackForm {
    width: 30%;
    padding: 40px;
    justify-content: left;
    display: flex;
    align-items: left;
    flex-direction: row;
    background-color: #92728fad;
}

.section h1 {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}

.fbinput {
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
}

.fbinput1 .submit {
    border: none;
    color: white;
    padding: 30px 42px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
}

.status {
    position: absolute;
    top: 500px;
    right: 120px;
    font-size: 18px;
    margin: 1px;
}

.form_control {
    width: 150%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 1;
    border-bottom: 2px solid #050404;
    outline: none;
    resize: horizontal;
}

#Feedback_Type {
    width: 150%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 1;
    border-bottom: 2px solid #050404;
    outline: none;
    resize: horizontal;
}

.btn2 {
    padding: 10px;
    background-color: rgb(108, 37, 126);
}

.btn3 {
    position: absolute;
    padding: 10px;
    width: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}