
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fee4f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #e12626;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
}


.checkbox-group {
    display: flex;
    justify-content: center;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .checkbox-group{
    background-color: #f89d9d;
  }
  
  .btn2{
    width: 100%;
  padding: 10px;
  background-color: #e12626;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
  
  }