
table {
    border-collapse: collapse;
    width: 100%;
  }
  
 th,
   td {
    border: 4px solid #ccc;
    padding: 8px;
    
  }
th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
  }
  
 tbody {
    background-color: #f9f9f9;
  }
  
tbody tr:hover {
    background-color: #ddd;
  }


    /* Style for table header */
    th {
        background-color: rgb(107, 39, 175);
        color: white;
        font-weight: bold;
    }

    /* Style for table rows */
    tbody  {
        background-color: #f2f2f2;
    }

    .btn-primary{
        font-size: 14px;
        color:white;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10ch;
        border: none;
        background-color: rgb(107,39,175);
        transition: background-color 0.3s ease;
    }